//================================================================================
// Buttons
//================================================================================

button, .button {
	cursor: pointer;
	font-family: inherit;
	font-weight: bold;
	line-height: 1;
	position: relative;
	text-decoration: none;
	text-align: center;
	display: inline-block;
	padding-top: 0.75em;
	padding-right: 1.5em;
	padding-bottom: 0.8125em;
	padding-left: 1.5em;
	font-size: 1em;
	background-color: #2ba6cb;
	border: solid 1px #2284a1;
	color: white;
	-webkit-appearance: none;
	
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
	
	-webkit-transition: background-color 200ms ease-out;
	-moz-transition: background-color 200ms ease-out;
	transition: background-color 200ms ease-out;
	
	&.button-red {
		background: red; 
		border: solid 1px darken(red, 20%);
		&:hover {
			background: darken(red, 10%);
		}
		&:active {
			background: darken(red, 30%);
		}
		
	}
	
	&:hover {
		background-color: darken(#2ba6cb, 10%);
		color: white;
	}
	&:active {
		background-color: darken(#2ba6cb, 30%);
		color: white;
	}
}