//================================================================================
// Fonts
//================================================================================

@font-face {
    font-family: 'heliosextcregular';
    src: url('../fonts/heliosec-webfont.eot');
    src: url('../fonts/heliosec-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/heliosec-webfont.woff') format('woff'),
         url('../fonts/heliosec-webfont.ttf') format('truetype'),
         url('../fonts/heliosec-webfont.svg#heliosextcregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'heliosextcbold';
    src: url('../fonts/helioecb-webfont.eot');
    src: url('../fonts/helioecb-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helioecb-webfont.woff') format('woff'),
         url('../fonts/helioecb-webfont.ttf') format('truetype'),
         url('../fonts/helioecb-webfont.svg#heliosextcbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
