*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html,
body {
	font-size: 100%;
	height: 100%;
}

body {
	background: white;
	color: #222222;
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	line-height: 1.3;
	
	//text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

a {
	color: red;
	&:hover {
		color: green;
	}
	&:active {
		color: red;
	}
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

nav {
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
}
